.custom-dropdown-more{
  background-color: #fff;

  padding: 6px 0;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  .ant-menu{
    border-radius: 0;
    border-style: none;
    overflow-y: auto;
  }
  >.search-box{
    padding: 2px 6px;
  }
  >.more-box{
    text-align: center;
    padding: 2px 6px;
  }
}

.custom-select-dropdown-more{
  .ant-select-dropdown-menu-item-group-list>.ant-select-dropdown-menu-item{padding-left: 16px;}
  .ant-select-dropdown-menu-root{
    >.ant-select-dropdown-menu-item-group{
      display: flex;
      flex-direction: column;
      >.ant-select-dropdown-menu-item-group-title{order: 3;padding: 0;}
      >.ant-select-dropdown-menu-item-group-list{
        order: 2;
        .ant-select-dropdown-menu-item-group-list>.ant-select-dropdown-menu-item{padding-left: 24px;}
      }
      .more-box{
        text-align: center;
        padding: 8px 16px;
      }
    }
  }

}