.ant-form-item{
  margin-bottom: 12px;
  margin-top: 12px;
  .ant-form-item-control{

    >.ant-cascader-picker,
    //>.ant-input,
    //>.ant-input-number,
    >.ant-select{width: 100%;}
  }
}

.page-view{
  .ant-form-item{max-width: 874px;}
}

.custom-default-form{
   max-width: 600px;
 }