// height
$wap-nav-heigth : 50px;

//color
$theme-color-one: #F7F7F7;
$theme-color-two: #FF5384;
$theme-color-three : #7A7E83;
$theme-color-four:#F8F8F8;
$theme-color-five:#09BB07;
$theme-color-six : #fc0;
$error-color:#f04134;

